{% extends "homepage/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}CEP 2017{% endblock %}

{% block content %}
    <div id="index-banner" class="parallax-container" xmlns="http://www.w3.org/1999/html">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center-align">
            <br/><br/>
            <div class="col s12">
              <h2 class="header col s12 white-text">Concurso Escolar de Programación</h2>
              <h5 class="col s12 white-text">Del 1 al 2 de Diciembre</h5>
            </div>
              <h5 class="col s12 white-text">Comienza en ...</h5>
              <div id="clockdiv">
                  <div>
                    <span class="days"></span>
                    <div class="smalltext">Days</div>
                  </div>
                  <div>
                    <span class="hours"></span>
                    <div class="smalltext">Hours</div>
                  </div>
                  <div>
                    <span class="minutes"></span>
                    <div class="smalltext">Minutes</div>
                  </div>
                  <div>
                    <span class="seconds"></span>
                    <div class="smalltext">Seconds</div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="parallax">{% load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/background1.jpg" %}" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container" id="inicio">
    <div class="section">
        <div class="row" id="content">
            <div class="col s12 m12 l12">
                <h5 class="center">¿En qué consiste?</h5>
                    <p style="font-size: large" class=" center-align light">El Concurso Escolar de Programación, es una competencia entre escolares de nivel secundario, que consiste en la resolución de problemas, haciendo uso de un computador(programación) y conocimientos matemáticos</p>
            </div>
        </div>
      <!--   Icon Section   -->
        <div class="row">

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">thumb_up</i></h2>
                <h5 class="center">Competencia Integral</h5>

                <p class="light">Desarrolla tu creatividad y mide tus capacidades en comprensión lectora, matemática, abstracción y programación.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
                <h5 class="center">Camino al Éxito</h5>

                <p class="light">Inspírate y sé un programador competitivo. Conoce y aprende con los mejores del Perú y el mundo.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">done_all</i></h2>
                <h5 class="center">Ciencia de la Computación</h5>

                <p class="light">Es la disciplina que ha permitido la creación de todo el software y grandes sitios web que utilizamos a diario. Experiméntala...</p>
              </div>
            </div>
        </div>
    </div>
  </div>

    <div class="slider" id="nosotros">
    <ul class="slides ">
        <li>
            {% load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/chapter.jpg" %}">
            <div class="caption center-align">
                <h2>Nosotros</h2>
                <h5 class="light grey-text text-lighten-3">Somos una organización académica sin ánimo de lucro conformada y dirigida por estudiantes de Ciencia de la Computación. Buscamos promover la computación como disciplina dentro y fuera de nuestra universidad</h5>
            </div>
        </li>
        <li>
            {% load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/back_acm.jpg" %}">
            <div class="caption left-align">
                <h2>Nosotros</h2>
                <h5 class="light grey-text text-lighten-3">Contamos con el respaldo de la Association of Computing Machinery lo que nos permite mantenernos al tanto y difundir el estado del arte en las diferentes ramas de la computación, así como establecer lazos profesionales a nivel nacional e internacional.</h5>
            </div>
        </li>

        <li>
            {%load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/cep2016.jpg" %}">
            <div class="caption">
                <a class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Premiación de participantes ganadores 2016">CEP 2016</a>
            </div>
        </li>

        <li>
            {%load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/cep_2015.JPG" %}">
            <div class="caption">
                <a class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="En plena competencia ...">CEP 2015</a>
            </div>
        </li>

        <li>
            {%load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/cep_2014.jpg" %}">
            <div class="caption">
                <a class="btn tooltipped" data-position="right" data-delay="50" data-tooltip="Premiación de participantes 2014">CEP 2014</a>
            </div>
        </li>
    </ul>
</div>

    <div class="container" id="register">
        <div class="row">
        <h1 class="center-align grey-text text-darken-2">Registro</h1>
        <h5 class="center-align grey-text text-darken-2">¿ESTÁS LISTO PARA DEMOSTRAR TUS HABILIDADES?</h5>
        <h5 class="center-align grey-text text-darken-2">Las inscripciones estarán abiertas desde el día 18 de Noviembre</h5>
        {% if form_register %}
            <form class="col s12" method="post" role="form" novalidate action="#register">{% csrf_token %}
            {{ form_register.non_field_errors }}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_register.name|add_class:"form-control"|attr:"placeholder:Nombre"|attr:"disabled:True"}}
                        <strong class="ui-button-text-icon-primary">{{form_register.name.errors}}</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_identity</i>
                        {{ form_register.last_name|add_class:"form-control"|attr:"placeholder:Apellidos"|attr:"disabled:True"}}
                        <strong class="ui-button-text-icon-primary">{{form_register.last_name.errors}}</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">verified_user</i>
                        {{ form_register.dni|attr:"placeholder:DNI"|add_class:"form-control"|attr:"disabled:True"}}
                        <strong class="text-muted">{{form_register.dni.errors}}</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">business</i>
                        {{ form_register.school_name|attr:"placeholder:Nombre del Colegio"|add_class:"form-control"|attr:"disabled:True"}}
                        <strong class="text-muted">{{form_register.school_name.errors}}</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_register.email|attr:"placeholder:Email"|add_class:"form-control"|attr:"disabled:True"}}
                        <strong class="text-muted">{{form_register.email.errors}}</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">swap_vert</i>
                        </br></br>
                        {{ form_register.year_in_school|attr:"placeholder:Elige tu año escolar"|attr:"disabled:True"}}
                        <strong class="text-muted">{{form_register.year_in_school.errors}}</strong>
                    </div>
                </div>

                <button class="btn waves-effect waves-light disabled" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        {% endif %}
            </div>
        </div>

    <div class="parallax-container valign-wrapper" id="ubicacion">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row">
                    <h1 class="center-align">Ubicación</h1>
                    <h5 class="center-align">Compite y gana grandes premios</h5>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center blue-text"><i class="material-icons">location_on</i></h2>
                            <h5 class="center">Ubicación</h5>
                            <p class="center" style="font-size: 22px">Universidad Católica San Pablo</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center blue-text"><i class="material-icons">query_builder</i></h2>
                            <h5 class="center">Día 1 de Diciembre</h5>
                            <p class="center" style="font-size: 22px">Simulacro</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center blue-text"><i class="material-icons">schedule</i></h2>
                            <h5 class="center">Día 2 de Diciembre</h5>
                            <p class="center" style="font-size: 22px">Concurso</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax">{% load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/helloworld.jpg" %}" alt="Unsplashed background img 3"></div>

    </div>

    <div class="container" id="sponsors">
       <div id="sponsor" class="row">
           <h1 class="center-align grey-text text-darken-2">Sponsors</h1>
           <h5 class="center-align grey-text text-darken-2">NUESTROS SPONSORS ESTAN COMPROMETIDOS CON LA EDUCACION</h5>
           </br>
           <h5 class="center-align grey-text text-darken-2">Sponsors pasados</h5>
           <div class="carousel">
               <a class="carousel-item" href="">{%load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/acm_logo.png" %}"></a>
               <a class="carousel-item" href="https://careers.google.com/jobs"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png"></a>
               <a class="carousel-item" href="http://facebook.com/careers"><img src="http://cs.ucsp.edu.pe/cep2015/img/sponsor/facebook.jpg"></a>
               <a class="carousel-item" href="https://www.facebook.com/cendif"><img src="http://cs.ucsp.edu.pe/cep2015/img/sponsor/cendif.png"></a>
           </div>
       </div>
    </div>


<div class="testimonial-container" id="testimonios">
  <div class="dk-container">
    <div class="cd-testimonials-wrapper cd-container">
      <h1 class="center-align grey-text text-darken-2">Testimonios</h1>
      <ul class="cd-testimonials">
        <li>
          <div class="testimonial-content">
            <p>El CEP significó una gran experiencia siendo esta la primera vez que participé, me permitió desenvolverme en esto que tanto llamaba mi atención,
              conocer gente que comparte esta afición y a su vez me permitió definir aquello a lo que me quiero dedicar,
              en general fue una grata experiencia que espero más personas pueden vivir.</p>
              <div class="chip">
                    {% load staticfiles %} <img src="{% static "homepage/img/guido.png" %}">
                  <strong>Guido Tapia</strong>
              </div>
                <br>
              <div class="chip">
                  <i>Participante <strong>CEP 2016</strong>, 3er puesto</i>
                  <i class="close material-icons">close</i>
              </div>
          </div>
        </li>
        <li>
          <div class="testimonial-content">
            <p>La programación ha desarrollado en mí la capacidad de crear nuevas cosas, empezar el día con un objetivo,
              organizarme mejor, ahora siento que puedo hacer lo que mi mente imagine.
            </p>
               <div class="chip">
                    {% load staticfiles %} <img src="{% static "homepage/img/saul.png" %}">
                  <strong>Saul Rojas</strong>
              </div>
                <br>
              <div class="chip">
                  <i>Participante <strong>CEP 2016</strong>, 5to puesto</i>
                  <i class="close material-icons">close</i>
              </div>
          </div>
        </li>
        <li>
          <div class="testimonial-content">
            <p>La experiencia de ser entrenadora del CEP 2016 fue muy satisfactoria, porque durante ese tiempo pude ver el
              interés de los estudiantes hacia lo que a veces se percibe como abstracto, y que ellos se dan cuenta de cómo
              los cursos que llevan en el colegio pueden servirles para programar. Considero que está iniciativa nos ayuda
              a descubrir en los jóvenes nuevas habilidades y destrezas que nos ayudan a identificar una vocación desde una
              temprana edad y poder seguir practicando.</p>
              <div class="chip">
                  {% load staticfiles %} <img src="{% static "homepage/img/brendita.png" %}">
                  <strong>Brenda Solari</strong>
              </div>
                <br>
              <div class="chip">
                  <i>Entrenadora <strong>CEP 2016</strong></i>
                  <i class="close material-icons">close</i>
              </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- cd-testimonials -->
  </div>
</div>

{% endblock %}
    


       
