<div class="testimonial-container">
  <div class="dk-container">
    <div class="cd-testimonials-wrapper cd-container">
      <h2>Testimonios</h2>
      <ul class="cd-testimonials">
        <li>
          <div class="testimonial-content">
            <p>El CEP significó una gran experiencia siendo esta la primera vez que participe me permitió desenvolverme en esto que tanto llamaba mi atención,
              conocer gente que comparte esta afición y a su vez me permitió definir aquello a lo que me quiero dedicar,
              en general fue una grata experiencia que espero más personas pueden vivir.</p>
            <div class="cd-author">
              {% load staticfiles %} <img src="{% static "homepage/img/guido.png" %}" alt="Author image">
              <ul class="cd-author-info">
                <li><strong>Guido Tapia</strong><br><i>Participante <strong>CEP 2016</strong>, 3er puesto</i></li>
                <li></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="testimonial-content">
            <p>La programación ha desarrollado en mi la capacidad de crear nuevas cosas, empezar el día con un objetivo,
              organizarme mejor, ahora siento que puedo hacer lo que mi mente imagine.
            </p>
            <div class="cd-author">
              {% load staticfiles %} <img src="{% static "homepage/img/saul.png" %}" alt="Author image">
              <ul class="cd-author-info">
                <li><strong>Saul Rojas</strong><br><i>Participante <strong>CEP 2016</strong>, 5to puesto</i></li>
                <li></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="testimonial-content">
            <p>La experiencia de ser entrenadora del CEP 2016 fue muy satisfactoria, porque durante ese tiempo pude ver el
              interés de los estudiantes hacia lo que a veces se percibe como abstracto, y que ellos se dan cuenta de cómo
              los cursos que llevan en el colegio pueden servirles para programar. Considero que está iniciativa nos ayuda
              a descubrir en los jóvenes nuevas habilidades y destrezas que nos ayudan a identificar una vocación desde una
              temprana edad y poder seguir practicando.</p>
            <div class="cd-author">
              {% load staticfiles %} <img src="{% static "homepage/img/brendita.png" %}" alt="Author image">
              <ul class="cd-author-info">
                <li><strong>Brenda Solari</strong><br><i>Entrenadora <strong>CEP 2016</strong> </i></li>
                <li></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- cd-testimonials -->
  </div>
</div>
