<div class="wrap parallax-container" xmlns="http://www.w3.org/1999/html">
  <div class="logo text-center">
    <a href="#" title="grateful.today">Concurso Escolar de <span class="logo-alt"> Programacion</span></a>
  </div>
  <h3 class="header col s12 white-text"> Comienza en : </h3>
  <div id="countdown">
    <div class="countdown-section">
      <span class="h1 days">-</span>
      <div class="text-center">DIAS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 hours">-</span>
      <div class="text-center">HRS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 minutes"></span>
      <div class="text-center">MINS</div>
    </div>
    <div class="countdown-section">
      <span class="h1 seconds"></span>
      <div class="text-center">SEGS</div>
    </div>
  </div>
  <p class="text-center" ><a class="share" href="https://twitter.com/home?status= Enterate mas sobre el concurso escolar de programacion en https://cs.ucsp.edu.pe/cep2017" target="_blank" title="Share on Twitter"><svg class="share-twitter" viewBox="0 0 512 512"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path></svg>Share on Twitter</a></p>
  <div class="row center">
    <h4 class="header col s12">Demuestra tus habilidades para resolver problemas!</h4>
  </div>
  <div class="parallax">{% load staticfiles %}<img class="responsive-img" src="{% static "homepage/img/background1.jpg" %}" alt="Unsplashed background img 1"></div>
</div>
